{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Rechercher des contraventions</h1>
    <form method="post" id="searchForm" action="{{ url_for('index') }}">
        <div class="mb-3">
            {% if error %}
                <p class="text-danger">{{ error }}</p>
            {% endif %}
            <label for="search_type" class="form-label">Rechercher par :</label>
            <select class="form-select" id="search_type" name="search_type">
                <option value="etablissement">Nom d'établissement</option>
                <option value="proprietaire">Propriétaire</option>
                <option value="rue">Rue</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="query" class="form-label">Recherche :</label>
            <input type="text" class="form-control" id="query" name="query" required>
            <div id="queryError" class="invalid-feedback" style="display: none;">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>
</div>

<div class="container mt-4">
    <h2> Recherche rapide par date</h2>
    <form id="date-search-form">
        <div class="mb-3">
            <label for="start-date" class="form-label">Du :</label>
            <input type="date" class="form-control" id="start-date" name="du" required>
            <label for="end-date" class="form-label">Au :</label>
            <input type="date" class="form-control" id="end-date" name="au" required>
            <div id="dateError" class="invalid-feedback" style="display: none;">
            </div> 
        </div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>
    <div id="quick-search-results"
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}